body {
	font-size: 25px;
	/*
	background-image: url('../images/bg-beige.png');
	*/
}

h1 {
	font-size: 60px;
	margin-bottom: 30px;
}

.panel-title {
	font-size: 40px;
}

.vertical-image-sequence img {
	margin-bottom: 10px;
}

.text-medium {
	font-size: 25px;
}

img.hiv-result {
	width: 230px;
	margin: 20px;
}

.cosent-text {
	font-size: 40px;
}